body {
    background-color: #d0d8e7;
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(180deg, rgb(8, 0, 62) 0%, rgb(58, 58, 117) 59%, rgb(128, 130, 153) 100%);
    height: 100vh;
    background-repeat: no-repeat;
}

.titulo h1 {
    color: #eff5ff;
    font-size: 40px;
    padding-top: 10px;
}

.login {
    border-radius: 10px;
    margin-top: 30px;
    padding: 20px;
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.3);
    text-align: center;
    width: 400px;
    background: #d2d1dd;
} 

.login form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
    align-items: center;
}

input {
    border-radius: 10px;
    border: 1px solid #002257;
    height: 24px;
    padding-left: 10px;
    font-size: 14px;
    line-height: 15px;
    width: calc(100% - 150px);
}

input:focus {
    outline: none;
}

input::placeholder {
    color: #000;
    font-size: 14px;
    opacity: 0.7;
}

button {
    width: 40%;
    height: 30px;
    background:#002257;
    border-radius: 10px;
    font-family: 'Courier New', Courier, monospace;
    color: #fff;
    font-weight: 700;
    border: none;
    cursor: pointer;
}

button:hover {
    background:#010025;
}

.cadastro {
    border-radius: 10px;
    padding: 20px;
    text-align: center;
}

.href {
    background: #002257;
    padding: 5px 12px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    border-radius: 10px;
    font-size: 14px;
}

.href:hover {
    background:#010025;
}